<!DOCTYPE html>
<html lang="en">
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
<div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
    <div style="margin: 0 auto; width: 90%; text-align: center;">
        <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
            <h3 style="margin-bottom: 26px; font-size: 22px;">Hello {{ name }}!</h3>
            <p style="margin-bottom: 10px;">Please use this OTP to verify your email.</p>
            <h2 style="background: #00466a;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;
       margin: 30px auto;letter-spacing: 5px;">{{ otp }}</h2>
            <p style="font-size:0.9em;">Regards,<br/>{{project_name}}</p>
            <p style="padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">powered by <a href="https://ai4lyf.com">AI4LYF</a></p>
        </div>
    </div>
</div>
</body>
</html>